.add-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.add .form {
    font-size: 20px;
    font-weight: bold;
}

.form input, textarea {
    width: 100%;
}

.form .button {
    display: flex;
    width: 100px;
    height: 35px;
    background-color: brown;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
    margin-top: 20px;
}